@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

#title {
  color: brown;
  position: absolute;
  top: 18px;
  font-size: large;
  text-align: center;
  justify-content: center;
  display: flex;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  /* background-repeat:no-repeat; */
  height: 77vh;
  border-radius: 50px;
  color:tomato;
  cursor: pointer;
  flex: 0.95;
  margin: 10px;
  position: relative;
  transition: flex 0.55s ease-in;
}

.panel h3 {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 25px;
  margin: 0.1;
  opacity: 0;
}

.panel.active {
  flex: 7;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 550px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
