@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkcyan;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
}

.nav.active a{
    color: #000;
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current, .nav a:hover {
    color: #c0392b;
    font-weight: bold;
}

/* taking up the full screen, al the viewport heights with a background image with an overlay */

.hero {
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.hero h1 {
  font-size: 44px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 19px;
  letter-spacing: 0.9px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 35px 0;
}

.content p {
  color: antiquewhite;
  line-height: 30px;
  letter-spacing: 1.1px;
}
