@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.fa-bitcoin {
  color: chartreuse;
}

.bitcoin {
  height: 500px;
  width: 500px;
  background: url('bitcoin-crypto.jpg') no-repeat center center/cover;
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 9px 9px rgba(0, 0, 0, 0.2);
}

.bitcoin .fa-bitcoin {
  position: absolute;
  animation: grow 0.5s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
